<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <script src="static/script.js"></script>

    <div class="mb-3">
    <label for="Create a Tweet" class="form-label">Create a Tweet</label>
    <input class="form-control" type="text" id="tweet_text" name="text" placeholder="Want to tweet something...">
    </div>
    <button class="btn btn-primary" onclick="make_tweet()" type="submit">Create Tweet</button>

    <div class="mb-3">
    <label for="Create a Tweet" class="form-label">Get a Tweet</label>
    <input class="form-control" type="text" id="search_id" name="id" placeholder="Enter tweet id...">
    </div>
    <button class="btn btn-primary" onclick="get_tweet()" type="submit">Get Tweet</button>

    <div class="mb-3">
    <label for="Create a Tweet" class="form-label">Deleta a Tweet</label>
    <input class="form-control" type="text" id="delete_id" name="id" placeholder="Enter tweet id...">
    </div>
    <button class="btn btn-primary" onclick="delete_tweet()">Delete Tweet</button>

    <h2>Return:</h2>
    <p id="result"></p>

</body>
</html>